@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/GothicA1/GothicA1-Thin.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-Thin.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/GothicA1/GothicA1-ExtraLight.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-ExtraLight.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/GothicA1/GothicA1-Light.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-Light.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GothicA1/GothicA1-Regular.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-Regular.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GothicA1/GothicA1-Medium.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-Medium.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/GothicA1/GothicA1-SemiBold.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-SemiBold.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GothicA1/GothicA1-Bold.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-Bold.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/GothicA1/GothicA1-ExtraBold.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-ExtraBold.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/GothicA1/GothicA1-Black.ttf') format('woff2'),
    url('../fonts/GothicA1/GothicA1-Black.ttf') format('woff'),
    url('../fonts/GothicA1/GothicA1-Black.ttf') format('truetype');
}


@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Thin.otf') format('woff2'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Thin.otf') format('woff'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Thin.otf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('woff2'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('woff'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff2'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('woff2'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('woff'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff2'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Black.otf') format('woff2'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Black.otf') format('woff'),
    url('../fonts/Noto_Sans_KR/NotoSansKR-Black.otf') format('truetype');
}

@font-face {
    font-family: 'Nevrada';
    font-display: block;
    font-style: normal;
    src: url('../fonts/AL_Nevrada.otf') format('woff2'),
    url('../fonts/AL_Nevrada.otf') format('woff'),
    url('../fonts/AL_Nevrada.otf') format('truetype');
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UhBeeMiMi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeMiMi.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-Core_Dream_OTF/SCDream1.otf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-Core_Dream_OTF/SCDream2.otf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-Core_Dream_OTF/SCDream3.otf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-Core_Dream_OTF/SCDream4.otf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-Core_Dream_OTF/SCDream5.otf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Coco Gothic';
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/coco_gothic/CocoGothic-UltraLight_trial.ttf') format('woff2'),
    url('../fonts/coco_gothic/CocoGothic-UltraLight_trial.ttf') format('woff'),
    url('../fonts/coco_gothic/CocoGothic-UltraLight_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Coco Gothic';
    font-display: block;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/coco_gothic/CocoGothic-Light_trial.ttf') format('woff2'),
    url('../fonts/coco_gothic/CocoGothic-Light_trial.ttf') format('woff'),
    url('../fonts/coco_gothic/CocoGothic-Light_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Coco Gothic';
    font-display: block;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/coco_gothic/CocoGothic-Heavy_trial.ttf') format('woff');
}

@font-face {
    font-family: 'Noto Serif';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Noto_Serif/NotoSerif-Bold.ttf') format('woff');
}

@font-face {
    font-family: 'Noto Serif';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf') format('woff');
}

@font-face {
    font-family: 'Lovelace';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Lovelace/Zetafonts - Lovelace Text Regular.otf') format('woff');
}

@font-face {
    font-family: 'Lovelace';
    font-display: block;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Lovelace/Zetafonts - Lovelace Text Bold Italic.otf') format('woff');
}

@font-face {
    font-family: 'Silkscreen';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('./Silkscreen/Silkscreen-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'Silkscreen';
    font-display: block;
    font-style: normal;
    font-weight: 500;
    src: url('./Silkscreen/Silkscreen-Bold.ttf') format('woff');
}
@font-face {
    font-family: 'PF스타더스트';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('./etc/PF스타더스트.ttf') format('woff');
}

@font-face {
    font-family: 'Pacifico';
    font-display: block;
    font-style: normal;
    src: url('./etc/Pacifico-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Barcelony';
    font-display: block;
    font-style: normal;
    src: url('./etc/Barcelony.ttf') format('woff');
}

@font-face {
    font-family: 'QwitcherGrypen';
    font-display: block;
    font-style: normal;
    src: url('./etc/QwitcherGrypen-Regular.ttf') format('woff');
}