@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url('GothicA1/GothicA1-Thin.ttf') format('woff2'),
    url('GothicA1/GothicA1-Thin.ttf') format('woff'),
    url('GothicA1/GothicA1-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 200;
    src: url('GothicA1/GothicA1-ExtraLight.ttf') format('woff2'),
    url('GothicA1/GothicA1-ExtraLight.ttf') format('woff'),
    url('GothicA1/GothicA1-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('GothicA1/GothicA1-Light.ttf') format('woff2'),
    url('GothicA1/GothicA1-Light.ttf') format('woff'),
    url('GothicA1/GothicA1-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('GothicA1/GothicA1-Regular.ttf') format('woff2'),
    url('GothicA1/GothicA1-Regular.ttf') format('woff'),
    url('GothicA1/GothicA1-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 500;
    src: url('GothicA1/GothicA1-Medium.ttf') format('woff2'),
    url('GothicA1/GothicA1-Medium.ttf') format('woff'),
    url('GothicA1/GothicA1-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 600;
    src: url('GothicA1/GothicA1-SemiBold.ttf') format('woff2'),
    url('GothicA1/GothicA1-SemiBold.ttf') format('woff'),
    url('GothicA1/GothicA1-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 700;
    src: url('GothicA1/GothicA1-Bold.ttf') format('woff2'),
    url('GothicA1/GothicA1-Bold.ttf') format('woff'),
    url('GothicA1/GothicA1-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 800;
    src: url('GothicA1/GothicA1-ExtraBold.ttf') format('woff2'),
    url('GothicA1/GothicA1-ExtraBold.ttf') format('woff'),
    url('GothicA1/GothicA1-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gothic A1';
    font-display: block;
    font-style: normal;
    font-weight: 900;
    src: url('GothicA1/GothicA1-Black.ttf') format('woff2'),
    url('GothicA1/GothicA1-Black.ttf') format('woff'),
    url('GothicA1/GothicA1-Black.ttf') format('truetype');
}


@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url('Noto_Sans_KR/NotoSansKR-Thin.otf') format('woff2'),
    url('Noto_Sans_KR/NotoSansKR-Thin.otf') format('woff'),
    url('Noto_Sans_KR/NotoSansKR-Thin.otf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('Noto_Sans_KR/NotoSansKR-Light.otf') format('woff2'),
    url('Noto_Sans_KR/NotoSansKR-Light.otf') format('woff'),
    url('Noto_Sans_KR/NotoSansKR-Light.otf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff2'),
    url('Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff'),
    url('Noto_Sans_KR/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 500;
    src: url('Noto_Sans_KR/NotoSansKR-Medium.otf') format('woff2'),
    url('Noto_Sans_KR/NotoSansKR-Medium.otf') format('woff'),
    url('Noto_Sans_KR/NotoSansKR-Medium.otf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 700;
    src: url('Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff2'),
    url('Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff'),
    url('Noto_Sans_KR/NotoSansKR-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-display: block;
    font-style: normal;
    font-weight: 900;
    src: url('Noto_Sans_KR/NotoSansKR-Black.otf') format('woff2'),
    url('Noto_Sans_KR/NotoSansKR-Black.otf') format('woff'),
    url('Noto_Sans_KR/NotoSansKR-Black.otf') format('truetype');
}