.eng {
    font-family: Nevrada;
    font-size: 150%;
    color: #5BB372;
    letter-spacing: 0.5px;
    padding-bottom: 1%;
    font-style: italic;
}

.date {
    font-size: 110%;
    font-weight: 500;
    color: #363636;
    padding-bottom: 5%;
}

.time {
    font-size: 110%;
    font-weight: 400;
    color: #5b5b5b;

}