.container {
    padding-top: 20%;
    padding-bottom: 10%;
}

.text{
    font-family: "UhBeeMiMi";
    font-size: 150%;
    padding-bottom: 5%;
}
.write{
    margin-right: 8% !important;
    margin-left: 8% !important;
    padding: 5% 10%;
    background-color: white;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid #EEDED2;
}

.commentListContainer {
    text-align: left;
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
    font-family: 'S-CoreDream';
}

.comment {
    border-radius: 10px;
    padding: 3% 5% !important;
    text-align: left;
    margin-bottom: 1%;
    background-color: #ffffff;
}

.name {
    color: #383838;
    padding-right: 4%;
    font-weight: 500;
}

.content {
    font-weight: 300;
    font-size: 95%;
    letter-spacing: 0px;
}

.date {
    font-family: "Open Sans";
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 90%;
    color: #595959;
}

.dialog {
    padding-top: 5%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding-bottom: 5%;
}

.alignLeft{
    text-align: left;
}

.title {
    font-size: 110%;
    font-weight: 500;
    padding-right: 3%;
}

.buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding-top: 5%;
}

.buttonGroup_2{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding-bottom: 5%;
}