.container {
    padding-bottom: 20%;
}

.commentListContainer {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Noto Sans KR';
}

.comment {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}

.name {
    padding-right: 4%;
    font-weight: 500;
}

.content {
}

.date {
    font-size: 90%;
    font-weight: 100;
    letter-spacing: 1px;
    padding-left: 2%;
}

.dialog {
    padding-top: 5%;
}

.profile {
    color: white;
    background: #ff5454;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    padding-top: 1%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding-bottom: 5%;
}

.write{
    text-align: left;
}

.title {
    font-size: 110%;
    font-weight: 500;
    padding-right: 3%;
}