.container{
    padding-top: 30%;
}
.accountSection {
    padding-top: 6%;
    padding-bottom: 20%;
}

.contactSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

.contactDiv {
    font-size: 105%;
}

.kakaoLink{
    margin: auto;
    width: 50%;
    padding-top: 3%;
}