.container {
    padding-top: 50%;
    padding-bottom: 30%;
}

.title {
    padding-top: 5%;
    margin-bottom: 8%;
    font-weight: 600;
    font-size: 110%;
}
.body {
    padding-top: 10%;
    padding-bottom: 15%;
}