.container {
    padding-top: 40%;
    padding-bottom: 20%;
    font-weight: 300;
    line-height: 300%;
}

.title {
    margin-bottom: 10%;
    font-weight: 600;
    font-size: 110%;
}
.body {
    padding-bottom: 10%;
}