body {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 97%;
    color: #232323;
    letter-spacing: -1.2px;
    background-color: #fffffe;
}
.numLight {
    font-weight: 300;
    letter-spacing: 0;
}

.thin {
    font-weight: 100;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.titleDiv {
    font-weight: 700;
    font-size: 120%;
    letter-spacing: 2px;
    padding-bottom: 5%;
}
.accountSection {
    padding-top: 5%;
    padding-bottom: 20%;
}

.contactSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.contactDiv {
    font-size: 105%;
}
td {
    font-size: 90%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-weight: 400;
}

.customoverlay {
    bottom: 85px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
    font-family: 'Gothic A1';
    font-weight: 600;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    overflow: hidden;
    background: #3a3a3a;
    background: #3a3a3a url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.customoverlay .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Noto Sans KR';
}