body {
    width: 100%;
    margin: 0;
    text-align: center;
    color: #232323;
    background-color: #ffffff;
    font-family: 'Noto Sans KR' !important;
    font-weight: 300;
    letter-spacing: -1px;
}

.numLight {
    font-weight: 300;
    letter-spacing: 0;
}

.thin {
    font-weight: 100;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.font-Large {
    font-size: 500%
}

.titleDiv {
    font-family: 'Gothic A1';
    font-weight: 900;
    font-size: 110%;
    letter-spacing: 2px;
    padding-bottom: 5%;
}

td {
    font-size: 95%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-weight: 400;
    vertical-align: center;

}

.customoverlay {
    bottom: 85px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
    font-family: 'Gothic A1';
    font-weight: 600;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    overflow: hidden;
    background: #3a3a3a;
    background: #3a3a3a url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.customoverlay .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Noto Sans KR';
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.before {
    opacity: 0;

}

.reveal_0 {
    text-align: center;
    opacity: 0;
    will-change: opacity, transform;
    animation: reveal_reverse 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.reveal {
    text-align: center;
    opacity: 0;
    will-change: opacity, transform;
    animation: reveal 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.reveal_2 {
    text-align: center;
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
    will-change: opacity, transform;
    animation: reveal 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation-delay: 0.3s
}

.reveal_3 {
    text-align: center;
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
    will-change: opacity, transform;
    animation: reveal 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation-delay: 0.6s
}

.mask {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
    }
}

@keyframes reveal_reverse {
    from {
        opacity: 0;
        transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);

    }
    to {
        opacity: 1;
        transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
    }
}

.appear {
    animation: appear 1.2s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.swiper-button-next, .swiper-button-prev {
    color: #5A5A5A !important;
    font-size: 15px !important;
}

.swiper-pagination-progressbar-fill {
    background-color: #414141 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px !important;
}

.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
}

.swiper-wrapper {
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
}

.ui.form input[type=text] {
    font-family: "Noto Sans KR" !important;
}

.ui.form .field > label {
    font-family: "Gothic A1";
    letter-spacing: 0.3px;
}

.ui.form .field .prompt.label {
    font-weight: 400;
}

.ui red pointing basic label {
    font-weight: 400;
}

ui.button {
    font-family: "Noto Sans KR" !important;
    font-weight: 500 !important;
}