body {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 97%;
    color: #232323;
    letter-spacing: -1.2px;
    background-color: #ffffff;
}
.numLight {
    font-weight: 300;
    letter-spacing: 0;
}

.thin {
    font-weight: 100;
}

.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}

.font-Large{
    font-size: 500%
}
.titleDiv {
    font-weight: 700;
    font-size: 120%;
    letter-spacing: 2px;
    padding-bottom: 5%;
}

td {
    font-size: 90%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-weight: 400;
    vertical-align: top;

}

.customoverlay {
    bottom: 85px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
    font-family: 'Gothic A1';
    font-weight: 600;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    overflow: hidden;
    background: #3a3a3a;
    background: #3a3a3a url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.customoverlay .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Noto Sans KR';
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.modal > section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
}
.modal > section > header {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #f1f1f1;
    font-weight: 700;
}
.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}
.modal > section > main {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}
.modal > section > footer {
    padding: 12px 16px;
    text-align: right;
}
.modal > section > footer button {
    padding: 6px 12px;
    color: #2a2a2a;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
}
.modal > section > footer .close {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
}

.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.before{
    opacity: 0;
}
.reveal {
    text-align: center;
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
    will-change: opacity, transform;
    animation: reveal 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.reveal_2 {
    text-align: center;
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
    will-change: opacity, transform;
    animation: reveal 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation-delay: 0.3s
}

.reveal_3 {
    text-align: center;
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
    will-change: opacity, transform;
    animation: reveal 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation-delay: 0.6s
}

.mask {
    display: block;
    position: relative;
    text-align: start;
    overflow: hidden;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
    }
}

.appear {
    animation: appear 1.2s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.swiper-button-next, .swiper-button-prev{
    color: #5A5A5A !important;
    font-size: 15px  !important;
}
.swiper-pagination-progressbar-fill {
    background-color: #414141 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px  !important;
}

.swiper-pagination-progressbar {
    background: rgba(255, 255, 255, 0.71);
    position: absolute;
}

.swiper-wrapper {
    text-align:center !important;
    display:flex !important;
    align-items:center !important;
}