
.container {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.mapDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


.line {
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid #5A5A5A;
}


.detailContainer {
    padding: 5% 10%;
}

.title {
    font-weight: 500;
    width: 20%;
    vertical-align: top;
    text-align: center;
}

.detail {
    font-weight: 300;
    font-size: 88%;
}



.line2 {
    display: inline-block;
    font-weight: 500;
    font-size: 90%;
    color: white;
    background: #2F9F27;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    text-align: center;
    vertical-align: center;
}

.line9 {
    display: inline-block;
    font-weight: 500;
    font-size: 90%;
    color: white;
    background: #B0963C;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    text-align: center;
    vertical-align: center;
}

.guideDiv {
    padding-top: 15%;
    padding-bottom: 15%;
}

.guideBold {
    font-weight: 500;
    padding-bottom: 3%;
    padding-top: 3%;
}