.container {
}

.wedding {
    color: #282828;
    font-family: 'Lovelace';
    font-size: 85%;
    line-height: 110%;
    letter-spacing: 2px;
    padding-bottom: 3%;
    padding-top: 10%;
}

.name {
    text-align: center;
    font-family: 'Lovelace';
    font-size: 210%;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 110%;
    color: #282828;
    vertical-align: center;
}

.and {
    color: transparent;
    -webkit-text-stroke: 1px #5BB372;
}
.date {
    padding-top: 17%;
    padding-bottom: 3%;
    font-weight: 500;
    font-size: 120%;
    color: #3b3b3b;
}
.location{
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 100%;
}

.imageDiv{
    background-color: #5BB372;
    width: 80%;
    height: 50vw;
    padding-bottom: 15%;
    margin: 25% auto 20%;
}

.image {
    width: 80%;
    margin: auto;
    position: absolute;
}

.bar {
    width: 10%;
    border-bottom: 2px solid #5BB372;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 4%;
}
