.container {
}

.wedding {
    color: #282828;
    font-family: 'Lovelace';
    font-size: 90%;
    line-height: 110%;
    letter-spacing: 2px;
    padding-top:8%;
    padding-bottom: 3%;
}

.name {
    text-align: center;
    font-family: 'Edwards';
    font-size: 350%;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 220%;
    color: #343434;
    vertical-align: center;
}

.and {
    color: transparent;
    -webkit-text-stroke: 1px #5BB372;
}
.date {
    padding-bottom: 3%;
    font-weight: 500;
    font-size: 150%;
    color: #3b3b3b;
    font-family: 'Lovelace';
}
.location{
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 100%;
}

.imageDiv{
    background-color: #CDEBCE;
    width: 75%;
    height: 20vw;
    padding-bottom: 15%;
    margin: 20% auto 20%;
}

.image {
    padding-top: 18%;
    width: 80%;
    margin: auto;
}

.bar {
    width: 10%;
    border-bottom: 2px solid #5BB372;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 4%;
}
