.container {
    padding-top: 10%;
}
.title{
    text-align: left;
    padding-left: 7%;
    padding-right: 7%;
    font-family: 'Gothic A1';
    font-size: 300%;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 120%;
}

.name {
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    font-family: 'Gothic A1';
    font-size: 290%;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 120%;
    color: #262626;
}

.thin {
    font-weight: 100;
    line-height: 110%;
    font-size: 130%;
    padding-bottom: 5%;
    letter-spacing: 1px;
    text-align: center;
}

.thin_2 {
    font-weight: 100;
    line-height: 110%;
    font-size: 150%;
    padding-bottom: 5%;
    letter-spacing: 1px;
    text-align: center;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.date {
    font-family: 'Gothic A1';
    font-weight: 900;
    font-size: 105%;
    letter-spacing: 1px;
    line-height: 110%;
    text-align: left;
    padding-right: 2%;
}

.date .first {
    font-size: 120%;
}

.eng {
    font-family: 'Gothic A1';
    font-weight: 400;
    line-height: 95%;
    letter-spacing: 0.3px;
    text-align: left;
    font-size: 90%;
}

.kor {
    padding-top: 1%;
    line-height: 100%;
    text-align: left;
}
